[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wget = "*"
matplotlib = "*"
psutil = "*"
ptitprince = "*"
xlrd = "==1.2.0"
bgzip = "*"

[packages]
click = "*"
dash = "==1.18.1"
dash-core-components = "==1.14.1"
dash-html-components = "==1.1.1"
dash-renderer = "==1.8.3"
dash-table = "==4.11.1"
pandas = "*"
plotly = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
sklearn = "*"
tenacity = "*"
urllib3 = "*"
uwsgi = "*"
flask = "*"
dash-bootstrap-components = "*"
dash-extensions = "*"

[requires]
python_version = "3.8"
